.container-home{
    font-family: 'Roboto', sans-serif;
}

.home-header{
    display: flex;
    flex-direction: column;
    .home-header__logo{
        text-align: center;
        width: 100%;
        padding: 14px 0 4px;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
        img{
            width: 162px;
            height: auto;
        }
    }
    .home-header__localisation{
        display: flex;
        justify-content: center;
        gap: 17px;
        padding: 15.5px 0;
        background: $color-grey;
        width: 100%;
    }
    .home-header__intro{
        height: 287.5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        background: $color-light-grey;
        .title{
            max-width: 240px;
            line-height: 28px;
        }
        .parag{
            font-size: 18px;
            font-weight: 300;
            max-width: 315px;
            line-height: 21px;
        }
        .btn-explore{
            cursor: pointer;
            background: $color-gradient;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 25px;
            border: none;
            color: white;
            padding: 13px 18.75px;
            font-size: 16px;
            font-weight: 500;
            transform-origin: center;
            transform: scale(1);
            transition: transform 0.15s ease-in-out;
            &:hover{
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), 
                linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.30);
            }
            &:active{
                transform: scale(0.95);
                transform-origin: center;
            }
        }
    }
}

.fonctionnement{
    padding: 48px 20px 68px;
    .fonctionnement__list{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 27px;
        .number{
            position: absolute;
            left: -10px;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: #9356dc;
            text-align: center;
            color: white;
            line-height: 1.5;
            font-size: 14px;
        }
        
        .fonctionnement__item{
            position: relative;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            display: flex;
            align-items: center;
            gap: 27px;
            width: 100%;
            height: 72px;
            background-color: $color-light-grey;
            border-radius: 20px;
            padding: 0 35px 0 20px;
            font-size: 16px;
            font-weight: 500;
            transition: color .3s, background-color .3s;
            &:hover{
                background-color: rgba(147, 86, 220, 0.2);
                .fa-solid{
                    color: #9356dc;
                }
            }
        }
        .fa-solid{
            color: #7E7E7E;
        }
    }
}

.restaurants{
    background-color: $color-light-grey;
    padding: 54px 20px 66px;
    .restaurants__container{        
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }
    .restaurants__item{
        background: white;
        height: 251px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        transform: scale(1);
        transform-origin: center;
        transition: transform .3s ease-out;
        &:hover{
            transform: scale(1.05);
            transform-origin: center;
        }
        img{
            cursor: pointer;
            height: 174px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        h3{
            font-size: 18px;
            font-weight: 700;
        }
        span{
            font-size: 17px;
            font-weight: 300;
        }
        .text{
            position: relative;
            padding: 16px 0 12px 13px;
            .fa-solid{
                cursor: pointer;
                position: absolute;
                right: 33px;
                top: 23px;
                font-size: 22px;
                color: transparent;
                -webkit-text-stroke: 2px black;
                transition: transform .3s ease-in;
                transform: scale(1);
                &:hover{
                    transform: scale(1.1);
                    background: $color-gradient;
                    -webkit-text-stroke: white;
                    color: transparent;
                    background-clip: text;
                    -webkit-background-clip: text;
                }
            }
        }
    }
    .nouveau{
        position: relative;
        &:after{
            content: 'Nouveau';
            position: absolute;
            top: 13px;
            right: 12px;
            width: 80px;
            height: 29px;
            background: #99E2D0;
            color: #008766;
            display: grid;
            place-items: center;
            border-radius: 2px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        }
    }
}

@media screen and (min-width: 767px) { 
    .home-header{
        .home-header__logo{
            padding: 30px 0;
            img{
                width: 200px;
            }
        }
        .home-header__intro{
            .title{
                max-width: none;
                font-size: 40px;
            }
            .parag{
                max-width: none;
            }
        }
    }

    
    .fonctionnement{
        padding: 50px 0 50px 15px;
        max-width: 1080px;
        margin: auto;
        .fonctionnement__list{
            flex-direction: row;
            flex-wrap: wrap;
            .fonctionnement__item{
                width: 320px;
            }
        }
    }
    .restaurants{
        padding: 30px 15px;
        .title{
            padding-left: 15px;
            max-width: 1080px;
            margin: auto;
        }
        .restaurants__container{
            max-width: 1080px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0;
            grid-row-gap: 50px;
            grid-column-gap: clamp(50px, 5vw, 100px);
            margin-top: 30px;
        }
        .nouveau{
            &:after{
                right: 18px;
            }
        }
    }
}