$color-primary: #9356DC;
$color-secondary: #FF79DA ; 

$color-gradient: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);

$color-grey: #D2D2D2;
$color-light-grey: #EAEAEA;
$color-dark-grey: #353535;
